@inject IHttpContextAccessor httpContextAccessor

<ul class="navbar-nav">
@if (httpContextAccessor.HttpContext.User.Identity?.IsAuthenticated == true)
{
        <span class="navbar-text text-dark">Hello @User.Identity?.Name!</span>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Account" asp-action="Logout">Sign out</a>
        </li>
}
else
{
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Account" asp-action="Login">Sign in</a>
        </li>
}
</ul>
